{"openapi": "3.0.0", "servers": [{"url": "https://open.canada.ca/data/api", "description": "Portail de production [PUBLIC] \n"}, {"url": "https://registry.open.canada.ca/api", "description": "Registre de production [ACC\u00c8S RESTREINT] \n"}, {"url": "https://staging.open.canada.ca/data/api", "description": "Portail de pr\u00e9paration [ACC\u00c8S RESTREINT] \n"}, {"url": "https://registry-staging.open.canada.ca/api", "description": "Registre de pr\u00e9paration [ACC\u00c8S RESTREINT] \n"}, {"url": "https://test.open.canada.ca/data/api", "description": "Portail d\u2019essai [ACC\u00c8S RESTREINT] \n"}, {"url": "https://registry-test.open.canada.ca/api", "description": "Registre d\u2019essai [ACC\u00c8S RESTREINT] \n"}], "info": {"title": "API CKAN du gouvernement ouvert \n", "description": "Cette interface de programmation d\u2019applications (API) permet d\u2019acc\u00e9der en direct \u00e0 la partie CKAN du portail et des syst\u00e8mes de registre du gouvernement ouvert. \n\n- Portail : https://open.canada.ca/fr \n  - Notre portail de donn\u00e9es publiques. \n  - Il inclut des donn\u00e9es f\u00e9d\u00e9r\u00e9es par les provinces et les municipalit\u00e9s. \n  - Des appels API en lecture seule peuvent \u00eatre effectu\u00e9s sans cl\u00e9 API. \n  - Une autorisation est requise uniquement pour la publication de donn\u00e9es f\u00e9d\u00e9r\u00e9es. \n\n- Registre : https://registry.open.canada.ca/fr \n  - Il est accessible dans le r\u00e9seau du gouvernement du Canada (GC). \n  - Il permet la collecte et la publication de donn\u00e9es provenant des minist\u00e8res du GC.\n  - Les nouveaux jeux de donn\u00e9es doivent \u00eatre examin\u00e9s et approuv\u00e9s manuellement par l\u2019\u00e9quipe du gouvernement ouvert. \n  - Il permet la publication automatique des jeux de donn\u00e9es approuv\u00e9s sur le portail de production. \n  - Un compte d\u2019utilisateur ou une cl\u00e9 API est n\u00e9cessaire pour toutes les op\u00e9rations. \n\nNos sites de pr\u00e9paration servent \u00e0 partager les fonctionnalit\u00e9s \u00e0 venir et \u00e0 tester l\u2019int\u00e9gration, et nos sites d\u2019essai sont destin\u00e9s aux fonctionnalit\u00e9s en cours d\u2019\u00e9laboration. \n", "termsOfService": "https://open.canada.ca/en/open-government-licence-canada", "contact": {"name": "Gouvernement ouvert SCT", "url": "https://ouvert.canada.ca/", "email": "open-ouvert@tbs-sct.gc.ca"}, "license": {"name": "Licence du gouvernement ouvert \u2013 Canada", "url": "https://ouvert.canada.ca/fr/licence-du-gouvernement-ouvert-canada"}, "version": "0.1"}, "tags": [{"name": "action", "description": "### L\u2019API d\u2019action de CKAN est une puissante API de type appel de proc\u00e9dure \u00e0 distance qui expose toutes les fonctionnalit\u00e9s de base de CKAN. \n\nTous les points terminaux prennent en charge les demandes POST avec un corps `application/json` ou un corps \n   `multipart/form-data`. \n-   Utiliser une demande POST `application/json` lorsque des param\u00e8tres json imbriqu\u00e9s sont n\u00e9cessaires. \n-   Utiliser une demande POST `multipart/form-data` lorsque des t\u00e9l\u00e9chargements de fichiers sont n\u00e9cessaires. \n\nPoints terminaux en lecture seule (`*_show`, `*_list`, `*_search` etc.) \nAccepter les demandes d\u2019obtention de donn\u00e9es (GET) avec des param\u00e8tres de requ\u00eate. \n\nLes r\u00e9ponses sont renvoy\u00e9es dans une enveloppe JSON en cas de succ\u00e8s : \n```json\n{ \n  \"help\": \"url pour compl\u00e9ter l\u2019aide sur les points terminaux\", \n  \"success\": true, \n  \"result\": {\u2026} \n} \n```\nOu sur les erreurs : \n```json\n{ \n  \"help\": \"url pour compl\u00e9ter l\u2019aide sur les points terminaux\",\n  \"success\": false, \n  \"error\": { \n    \"__type\": \"type d\u2019erreur\", \n    \"message\": \"message d\u2019erreur\", \n    \"champ-avec-erreur\": [\"premi\u00e8re-erreur\", \"seconde-erreur\"], \n    \u2026 \n  } \n} \n```\n", "externalDocs": {"description": "Docs complets \n", "url": "https://docs.ckan.org/en/2.8/api/"}}], "security": [{}, {"internal_api_key": []}], "paths": {"/action/status_show": {"get": {"summary": "Obtenir la version de CKAN et la liste des extensions install\u00e9es. \n", "description": "Utilisez cette API pour vous assurer que vous pouvez atteindre le serveur et pour v\u00e9rifier ses capacit\u00e9s. \n", "tags": ["action"], "responses": {"200": {"description": "Renvoie la version de CKAN et la liste des extensions install\u00e9es. \n"}}}}, "/action/package_list": {"get": {"summary": "Obtenir une liste de tous les identifiants des paquetages (jeux de donn\u00e9es). \n", "description": "Remarque : notre site utilise la m\u00eame valeur pour les champs \u00ab name \u00bb (nom) et \u00ab id \u00bb (identifiant) des jeux de donn\u00e9es \n", "tags": ["action"], "responses": {"200": {"description": "Renvoie une liste d\u2019identifiants de paquetages.\n"}}}}, "/action/package_search": {"get": {"summary": "Trouver des paquetages (jeux de donn\u00e9es) correspondant aux termes de la requ\u00eate. \n", "description": "Recherche des paquetages (jeux de donn\u00e9es) correspondant aux termes d\u2019interrogation sp\u00e9cifi\u00e9s \n", "parameters": [{"name": "q", "in": "query", "description": "Une cha\u00eene de requ\u00eates Solr qui sera utilis\u00e9e pour filtrer et classer les r\u00e9sultats. \n", "schema": {"type": "string"}, "examples": {"Toutes les donn\u00e9es": {"value": ""}, "Analytique": {"value": "analytics"}, "Mammif\u00e8res": {"value": "mammal population"}}}, {"name": "fq", "in": "query", "description": "Une requ\u00eate de filtrage Solr qui permet d\u2019affiner les r\u00e9sultats en supprimant les \u00e9l\u00e9ments sans correspondance.\nLes param\u00e8tres disponibles peuvent \u00eatre d\u00e9couverts en interagissant avec les facettes du site https://rechercher.ouvert.canada.ca/donneesouvertes/ et en observant les param\u00e8tres de requ\u00eate g\u00e9n\u00e9r\u00e9s. \n", "schema": {"type": "string"}, "examples": {"Aucun filtre": {"value": ""}, "Publi\u00e9 par le Secr\u00e9tariat du Conseil du Tr\u00e9sor f\u00e9d\u00e9ral": {"value": "organization:tbs-sct"}, "Publi\u00e9 par les municipali": {"value": "jurisdiction:municipal"}, "Donn\u00e9es de transport": {"value": "subject:transport"}, "Cartes ouvertes f\u00e9d\u00e9rales d\u2019Environnement Canada": {"value": "collection:fgp organization:ec"}}}, {"name": "sort", "in": "query", "description": "Ordre de tri des r\u00e9sultats de la recherche, la valeur par d\u00e9faut `score desc, metadata_modified desc` \nce qui signifie que les r\u00e9sultats sont tri\u00e9s en fonction de la note attribu\u00e9e \u00e0 la requ\u00eate et, en l\u2019absence de requ\u00eate, en fonction de la modification la plus r\u00e9cente. \n", "schema": {"type": "string"}}, {"name": "rows", "in": "query", "description": "Nombre maximal de lignes \u00e0 renvoyer, limit\u00e9 \u00e0 1 000.\n", "schema": {"type": "integer", "default": 20}}, {"name": "start", "in": "query", "description": "Le d\u00e9calage par rapport au d\u00e9but des r\u00e9sultats (0) pour la pagination. \n", "schema": {"type": "integer"}}, {"name": "include_private", "in": "query", "description": "Doit \u00eatre \u00e9tabli \u00e0 `true` pour r\u00e9cup\u00e9rer les r\u00e9sultats sur le Registre, aucun effet sur le portail.   \n", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Liste des paquetages (jeux de donn\u00e9es) comprenant toutes les m\u00e9tadonn\u00e9es disponibles. \n"}}, "tags": ["action"]}, "post": {"summary": "Trouver des paquetages (jeux de donn\u00e9es) correspondant aux termes de la requ\u00eate. \n", "description": "Recherche des paquetages (jeux de donn\u00e9es) correspondant aux termes d\u2019interrogation sp\u00e9cifi\u00e9s \n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"q": {"type": "string", "description": "Une cha\u00eene de requ\u00eates Solr qui sera utilis\u00e9e pour filtrer et classer les r\u00e9sultats. \n"}, "fq": {"type": "string", "description": "Une requ\u00eate de filtrage Solr qui permet d\u2019affiner les r\u00e9sultats en supprimant les \u00e9l\u00e9ments sans correspondance.\nLes param\u00e8tres disponibles peuvent \u00eatre d\u00e9couverts en interagissant avec les facettes du site https://rechercher.ouvert.canada.ca/donneesouvertes/ et en observant les param\u00e8tres de requ\u00eate g\u00e9n\u00e9r\u00e9s. \n"}, "sort": {"type": "string", "description": "Ordre de tri des r\u00e9sultats de la recherche, la valeur par d\u00e9faut `score desc, metadata_modified desc` \nce qui signifie que les r\u00e9sultats sont tri\u00e9s en fonction de la note attribu\u00e9e \u00e0 la requ\u00eate et, en l\u2019absence de requ\u00eate, en fonction de la modification la plus r\u00e9cente. \n"}, "rows": {"type": "integer", "description": "Nombre maximal de lignes \u00e0 renvoyer, limit\u00e9 \u00e0 1 000.\n"}, "start": {"type": "integer", "description": "Le d\u00e9calage par rapport au d\u00e9but des r\u00e9sultats (0) pour la pagination. \n"}, "include_private": {"type": "boolean", "description": "Doit \u00eatre \u00e9tabli \u00e0 `true` pour r\u00e9cup\u00e9rer les r\u00e9sultats sur le Registre, aucun effet sur le portail.   \n"}}}, "examples": {"Dix jeux de donn\u00e9es modifi\u00e9s les plus r\u00e9cents": {"value": {"rows": 10}}, "Trois jeux de donn\u00e9es qui correspondent le mieux \u00e0 \u00ab utilisation de l\u2019eau \u00bb": {"value": {"q": "water use", "rows": 3}}, "Jeux de donn\u00e9es 101-120 class\u00e9s par date de la derni\u00e8re modification": {"value": {"sort": "metadata_modified desc", "start": 100, "rows": 20}}}}}}, "tags": ["action"], "responses": {"200": {"description": "Liste des paquetages (jeux de donn\u00e9es) comprenant toutes les m\u00e9tadonn\u00e9es disponibles. \n"}}}}, "/action/package_show": {"get": {"summary": "Obtenir les m\u00e9tadonn\u00e9es aff\u00e9rentes \u00e0 un paquetage particulier (jeu de donn\u00e9es). \n", "description": "Renvoie les m\u00e9tadonn\u00e9es du paquetage (jeu de donn\u00e9es) correspondant \u00e0 son IDUU (identifiant unique universel).\nSe r\u00e9f\u00e9rer au [sch\u00e9ma de donn\u00e9es ouvert (type=dataset)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=dataset)\nou au [sch\u00e9ma d\u2019information ouvert (type=info)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=info)\npour obtenir des renseignements sur les champs de m\u00e9tadonn\u00e9es renvoy\u00e9s. \n", "parameters": [{"name": "id", "in": "query", "description": "Le IDUU de paquetage.\n", "schema": {"type": "string", "format": "uuid", "default": "2916fad5-ebcc-4c86-b0f3-4f619b29f412"}}], "tags": ["action"], "responses": {"200": {"description": "Un objet de m\u00e9tadonn\u00e9es de paquetage.\n", "content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json"}}}}}}}, "/action/package_activity_list": {"get": {"summary": "Obtenir le flux des activit\u00e9s d\u2019un paquetage (jeu de donn\u00e9es). \n", "description": "Renvoie le flux d\u2019activit\u00e9s d\u2019un paquetage, en commen\u00e7ant par les activit\u00e9s les plus r\u00e9centes. \n", "parameters": [{"name": "id", "in": "query", "description": "Le IDUU de paquetage.\n", "schema": {"type": "string", "default": "2916fad5-ebcc-4c86-b0f3-4f619b29f412"}}, {"name": "offset", "in": "query", "description": "Le d\u00e9calage de la premi\u00e8re activit\u00e9 \u00e0 renvoyer, utilis\u00e9 pour la pagination. \n", "schema": {"type": "integer", "default": 0}}, {"name": "limit", "in": "query", "description": "Le nombre maximum d\u2019activit\u00e9s \u00e0 renvoyer. \n", "schema": {"type": "integer", "default": 31}}], "tags": ["action"], "responses": {"200": {"description": "Liste des activit\u00e9s. \n"}}}}, "/action/organization_activity_list": {"get": {"summary": "Obtenir le flux des activit\u00e9s d\u2019une organisation. \n", "description": "Renvoyer le flux d\u2019activit\u00e9s d\u2019une organisation, en commen\u00e7ant par les activit\u00e9s les plus r\u00e9centes. \n", "parameters": [{"name": "id", "in": "query", "description": "L\u2019identifiant ou le nom (forme courte) de l\u2019organisation. \n", "schema": {"type": "string", "default": "ec"}}, {"name": "offset", "in": "query", "description": "Le d\u00e9calage de la premi\u00e8re activit\u00e9 \u00e0 renvoyer, utilis\u00e9 pour la pagination. \n", "schema": {"type": "integer", "default": 0}}, {"name": "limit", "in": "query", "description": "Le nombre maximum d\u2019activit\u00e9s \u00e0 renvoyer. \n", "schema": {"type": "integer", "default": 31}}], "tags": ["action"], "responses": {"200": {"description": "Liste des activit\u00e9s d\u2019une organisation.\n"}}}}, "/action/organization_list_for_user": {"get": {"summary": "Obtenir la liste des organisations pour lesquelles un utilisateur dispose d\u2019une autorisation donn\u00e9e. \n", "description": "Renvoyer les organisations pour lesquelles l\u2019utilisateur a re\u00e7u une autorisation. \n", "parameters": [{"name": "id", "in": "query", "description": "Le nom ou l\u2019identifiant de l\u2019utilisateur, par d\u00e9faut l\u2019utilisateur qui fait la demande. \n", "schema": {"type": "string"}}, {"name": "permission", "in": "query", "description": "L\u2019autorisation dont dispose l\u2019utilisateur concernant l\u2019organisation renvoy\u00e9e. \n", "schema": {"type": "string", "default": "manage_group"}, "examples": {"Administrateur": {"value": "admin"}, "\u00c9diteur": {"value": "manage_group"}, "Membre": {"value": "read"}}}], "tags": ["action"], "responses": {"200": {"description": "Liste des organisations pour une autorisation donn\u00e9e. \n"}}}}, "/action/organization_show": {"get": {"summary": "Obtenir des d\u00e9tails sur une organisation particuli\u00e8re\n", "description": "Renvoyer les d\u00e9tails d\u2019une organisation. \n", "parameters": [{"name": "id", "in": "query", "description": "L\u2019identifiant ou le nom (forme courte) de l\u2019organisation. \n", "schema": {"type": "string", "default": "tbs-sct"}}], "tags": ["action"], "responses": {"200": {"description": "Liste des d\u00e9tails de l\u2019organisation. \n"}}}}, "/action/organization_list": {"get": {"summary": "Obtenir les noms de toutes les organisations. \n", "description": "Renvoie les noms (formes courtes) de toutes les organisations index\u00e9es. \n", "parameters": [], "tags": ["action"], "responses": {"200": {"description": "Liste des organisations. \n"}}}}, "/action/resource_search": {"get": {"summary": "Trouver des ressources. \n", "description": "Recherche de ressources en fonction des valeurs de leurs champs. Noter que \n[package_search] (#/action/get_action_package_search) a de meilleures performances \net plus de fonctionnalit\u00e9s de recherche que ce point terminal. \n", "parameters": [{"name": "query", "in": "query", "description": "La cha\u00eene de crit\u00e8res de recherche ou une liste de cha\u00eenes du format ``{champ}:{term1}``.\n", "schema": {"type": "string", "default": "format:csv"}}, {"name": "order_by", "in": "query", "description": "Un champ sur le mod\u00e8le de ressource qui classe les r\u00e9sultats.\n", "schema": {"type": "string"}}, {"name": "offset", "in": "query", "description": "Appliquer un d\u00e9calage \u00e0 la requ\u00eate.\n", "schema": {"type": "integer", "default": 0}}, {"name": "limit", "in": "query", "description": "Appliquer une limite \u00e0 la requ\u00eate.\n", "schema": {"type": "integer", "default": 0}}], "tags": ["action"], "responses": {"200": {"description": "Liste des ressources\n"}}}}, "/action/resource_show": {"get": {"summary": "Obtenir des m\u00e9tadonn\u00e9es pour une ressource particuli\u00e8re. \n", "description": "Renvoie les m\u00e9tadonn\u00e9es d\u2019une ressource. Se r\u00e9f\u00e9rer \u00e0 la valeur des \n[champs de la ressource] dans le sch\u00e9ma du jeu de donn\u00e9es (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=dataset) \npour obtenir des renseignements sur les champs de m\u00e9tadonn\u00e9es. \n", "parameters": [{"name": "id", "in": "query", "description": "L\u2019identifiant de la ressource. \n", "schema": {"type": "string", "default": "e6c8bb1d-3726-418b-9b7e-1d97a9bbb817"}}, {"name": "include_tracking", "in": "query", "description": "Informations sur le suivi des renvois (utilisation). \n", "schema": {"type": "boolean", "default": false}}], "tags": ["action"], "responses": {"200": {"description": "Renvoyer les m\u00e9tadonn\u00e9es d\u2019une ressource. \n", "content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json#/properties/resources/items"}}}}}}}, "/action/datastore_search": {"get": {"summary": "Rechercher une ressource de la banque de donn\u00e9es. \n", "description": "L\u2019action de recherche dans la banque de donn\u00e9es vous permet de rechercher des donn\u00e9es dans une ressource. \n\nLes fichiers CSV bien format\u00e9s qui sont t\u00e9l\u00e9charg\u00e9s (et non li\u00e9s) sont automatiquement\ncharg\u00e9s dans la banque de donn\u00e9es. \n", "parameters": [{"name": "resource_id", "in": "query", "description": "L\u2019identifiant ou l\u2019alias de la ressource \u00e0 rechercher.\n", "schema": {"type": "string", "format": "uuid"}, "examples": {"Comit\u00e9s minist\u00e9riels d\u2019audit": {"value": "499383b6-cd2a-466a-9fcf-910d3e427700"}, "Provinces et territoires": {"value": "4cb827a6-a313-4d97-a66b-26fe23984931"}, "Jeux de donn\u00e9es supprim\u00e9s": {"value": "d22d2aca-155b-4978-b5c1-1d39837e1993"}}}, {"name": "filters", "in": "query", "description": "Conditions de correspondance \u00e0 s\u00e9lectionner, demandes de publication de donn\u00e9es `application/json` uniquement \n", "schema": {"type": "object"}, "examples": {"(Valeur non support\u00e9e pour les requ\u00eates GET)": {"value": ""}}}, {"name": "q", "in": "query", "description": "Recherche en texte int\u00e9gral sur toutes les colonnes de chaque ligne. \n", "schema": {"type": "string"}}, {"name": "distinct", "in": "query", "description": "Renvoyer uniquement les lignes distinctes. \n", "schema": {"type": "boolean", "default": false}}, {"name": "plain", "in": "query", "description": "Traiter comme une requ\u00eate en texte clair.\n", "schema": {"type": "boolean", "default": true}}, {"name": "language", "in": "query", "description": "Langue de la requ\u00eate en texte int\u00e9gral. \n", "schema": {"type": "string", "default": "english"}}, {"name": "limit", "in": "query", "description": "Nombre maximal de lignes \u00e0 renvoyer. \n", "schema": {"type": "integer", "default": 100}}, {"name": "offset", "in": "query", "description": "D\u00e9caler ce nombre de lignes. \n", "schema": {"type": "integer"}}, {"name": "fields", "in": "query", "description": "Cha\u00eene de noms de colonnes s\u00e9par\u00e9e par des virgules \u00e0 renvoyer. \n", "schema": {"type": "string"}}, {"name": "sort", "in": "query", "description": "Cha\u00eene de noms de colonnes s\u00e9par\u00e9e par des virgules avec ordre de tri. \n", "schema": {"type": "string"}}, {"name": "include_total", "in": "query", "description": "Calculer et renvoyer le nombre total de lignes correspondantes, \u00e9tabli \u00e0 `false` pour am\u00e9liorer les performances. \n", "schema": {"type": "boolean", "default": true}}, {"name": "records_format", "in": "query", "description": "Le format de la valeur de retour des dossiers, \u00e9tabli \u00e0 `csv` ou `tsv` pour de meilleures performances. \n", "schema": {"type": "string", "default": "objects", "enum": ["objects", "lists", "csv", "tsv"]}}], "responses": {"200": {"description": "Liste des paquetages (jeux de donn\u00e9es) comprenant toutes les m\u00e9tadonn\u00e9es disponibles. \n"}}, "tags": ["action"]}, "post": {"summary": "Rechercher une ressource de la banque de donn\u00e9es. \n", "description": "L\u2019action de recherche dans la banque de donn\u00e9es vous permet de rechercher des donn\u00e9es dans une ressource. \n\nLes fichiers CSV bien format\u00e9s qui sont t\u00e9l\u00e9charg\u00e9s (et non li\u00e9s) sont automatiquement\ncharg\u00e9s dans la banque de donn\u00e9es. \n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"resource_id": {"type": "string", "format": "uuid", "description": "L\u2019identifiant ou l\u2019alias de la ressource \u00e0 rechercher.\n"}, "filters": {"type": "object", "description": "Conditions de correspondance \u00e0 s\u00e9lectionner, demandes de publication de donn\u00e9es `application/json` uniquement \n"}, "q": {"oneOf": [{"type": "string", "description": "Recherche en texte int\u00e9gral sur toutes les colonnes de chaque ligne. \n"}, {"type": "object", "description": "Remplir une recherche de texte sur chaque champ donn\u00e9. \n"}]}, "distinct": {"type": "boolean", "description": "Renvoyer uniquement les lignes distinctes. \n"}, "plain": {"type": "boolean", "description": "Traiter comme une requ\u00eate en texte clair.\n"}, "language": {"type": "string", "description": "Langue de la requ\u00eate en texte int\u00e9gral. \n"}, "limit": {"type": "integer", "description": "Nombre maximal de lignes \u00e0 renvoyer. \n"}, "offset": {"type": "integer", "description": "D\u00e9caler ce nombre de lignes. \n"}, "fields": {"oneOf": [{"type": "string", "description": "Cha\u00eene de noms de colonnes s\u00e9par\u00e9e par des virgules \u00e0 renvoyer. \n"}, {"type": "array", "description": "Liste des noms de colonnes \u00e0 renvoyer. \n"}]}, "sort": {"type": "string", "description": "Cha\u00eene de noms de colonnes s\u00e9par\u00e9e par des virgules avec ordre de tri. \n", "example": "reporting_period desc, line_number"}, "include_total": {"type": "boolean", "description": "Calculer et renvoyer le nombre total de lignes correspondantes, \u00e9tabli \u00e0 `false` pour am\u00e9liorer les performances. \n"}, "records_format": {"type": "string", "description": "Le format de la valeur de retour des dossiers, \u00e9tabli \u00e0 `csv` ou `tsv` pour de meilleures performances. \n", "enum": ["objects", "lists", "csv", "tsv"]}}}, "examples": {"Pr\u00e9sidents des comit\u00e9s d\u2019audit en Colombie-Britannique en 2019-2020": {"value": {"resource_id": "499383b6-cd2a-466a-9fcf-910d3e427700", "q": "2019-2020", "filters": {"province": "BC", "role": "C-P"}}}, "Les 10 jeux de donn\u00e9es les plus r\u00e9cemment supprim\u00e9s": {"value": {"resource_id": "d22d2aca-155b-4978-b5c1-1d39837e1993", "sort": "\"Date and Time Deleted/ Date et heure de suppression\" desc"}}, "Provinces et territoires, abr\u00e9viations seulement": {"value": {"resource_id": "4cb827a6-a313-4d97-a66b-26fe23984931", "fields": ["code", "ab_en", "ab_fr"]}}}}}}, "tags": ["action"], "responses": {"200": {"description": "Liste des paquetages (jeux de donn\u00e9es) comprenant toutes les m\u00e9tadonn\u00e9es disponibles. \n"}}}}, "/action/datastore_records_delete": {"post": {"summary": "Supprime les enregistrements d\u2019un tableau de banque de donn\u00e9es. \n", "description": "L\u2019action datastore_records_delete permet de supprimer un jeu de donn\u00e9es dans une ressource. \nCela ne supprimera jamais le tableau lui-m\u00eame.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"resource_id": {"type": "string", "format": "uuid", "description": "L\u2019identifiant ou le pseudonyme de la ressource \u00e0 rechercher \n"}, "filters": {"type": "object", "description": "Conditions de correspondance \u00e0 s\u00e9lectionner, demandes POST `application/json` uniquement. \n"}}}, "examples": {"Sommaires de l\u2019AI supprim\u00e9s en d\u00e9cembre 2016": {"value": {"resource_id": "69c59cec-8d61-42cb-903e-8fe68fa7ad99", "filters": {"year": 2016, "month": 12}}}, "Supprimer les frais de voyage par num\u00e9ro de r\u00e9f\u00e9rence": {"value": {"resource_id": "33b47e58-f1ec-4e0b-92b2-c0c2686c25d2", "filters": {"reference_number": "2023-Q1-0010"}}}, "Supprimer les subventions et les contributions par pays b\u00e9n\u00e9ficiaire": {"value": {"resource_id": "b076ced6-ef48-45b8-8db2-dd7d27c11fe2", "filters": {"recipient_country": ["US", "AU", "BE"]}}}, "Supprimer toutes les d\u00e9penses d\u2019accueil": {"value": {"resource_id": "82883806-09d1-4937-b5bd-2c413ac5afd3", "filters": {}}}}}}}, "tags": ["action"], "responses": {"200": {"description": "Dictionnaire des filtres originaux \n"}}}}, "/action/scheming_dataset_schema_show": {"get": {"summary": "Renvoyer le sch\u00e9ma d\u2019un type de jeu de donn\u00e9es. \n", "description": "Les sch\u00e9mas de m\u00e9tadonn\u00e9es des jeux de donn\u00e9es sont d\u00e9finis dans le format [ckanext-scheming] (https://github.com/ckan/ckanext-scheming). \n", "parameters": [{"name": "type", "in": "query", "description": "Le type de jeu de donn\u00e9es. \n", "schema": {"type": "string", "default": "dataset", "enum": ["dataset", "info"]}}], "tags": ["action"], "responses": {"200": {"description": "Renvoie le sch\u00e9ma des m\u00e9tadonn\u00e9es. \n"}}}}, "/action/package_create": {"post": {"summary": "Cr\u00e9er un nouveau jeu de donn\u00e9es (paquetage). \n", "description": "Tous les champs non transmis conserveront leurs valeurs initiales. \n\nLes champs exacts disponibles d\u00e9pendent du param\u00e8tre `type`. \n\nSe r\u00e9f\u00e9rer au [sch\u00e9ma de donn\u00e9es ouvert (type=dataset)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=dataset) \nou au [sch\u00e9ma d\u2019information ouvert (type=info)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=info) \npour obtenir des renseignements sur tous les champs de m\u00e9tadonn\u00e9es disponibles. \n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json"}}}}, "tags": ["action"], "responses": {"200": {"description": "Une copie des m\u00e9tadonn\u00e9es du jeu de donn\u00e9es cr\u00e9\u00e9es.  \n"}}}}, "/action/package_update": {"post": {"summary": "Mettre \u00e0 jour un jeu de donn\u00e9es existant (paquetage).\n", "description": "Tous les champs non transmis conserveront leurs valeurs initiales. \n\nLes champs exacts disponibles d\u00e9pendent du param\u00e8tre `type`. \n\nSe r\u00e9f\u00e9rer au [sch\u00e9ma de donn\u00e9es ouvert (type=dataset)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=dataset) \nou au [sch\u00e9ma d\u2019information ouvert (type=info)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=info) \npour obtenir des renseignements sur tous les champs de m\u00e9tadonn\u00e9es disponibles. \n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json"}}}}, "tags": ["action"], "responses": {"200": {"description": "Une copie des m\u00e9tadonn\u00e9es du jeu de donn\u00e9es mises \u00e0 jour. \n"}}}}, "/action/package_patch": {"post": {"summary": "Mettre \u00e0 jour uniquement des champs pr\u00e9cis d\u2019un jeu de donn\u00e9es existant (paquetage). \n", "description": "Tous les champs non transmis conserveront leurs valeurs initiales. \n\nLes champs exacts disponibles d\u00e9pendent du param\u00e8tre `type`. \n\nSe r\u00e9f\u00e9rer au [sch\u00e9ma de donn\u00e9es ouvert (type=dataset)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=dataset) \nou au [sch\u00e9ma d\u2019information ouvert (type=info)] (https://open.canada.ca/data/api/action/scheming_dataset_schema_show?type=info) \npour obtenir des renseignements sur tous les champs de m\u00e9tadonn\u00e9es disponibles. \n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json"}}}}, "tags": ["action"], "responses": {"200": {"description": "Une copie des m\u00e9tadonn\u00e9es du jeu de donn\u00e9es mises \u00e0 jour. \n"}}}}, "/action/package_delete": {"post": {"summary": "Supprimer un jeu de donn\u00e9es (paquetage). \n", "description": "Supprimer un jeu de donn\u00e9es et toutes ses ressources, y compris les fichiers t\u00e9l\u00e9charg\u00e9s (le cas \u00e9ch\u00e9ant). \n", "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "description": "L\u2019identifiant du jeu de donn\u00e9es. \n"}}}}}}, "tags": ["action"], "responses": {"200": {"description": "'null'\n"}}}}, "/action/resource_create": {"post": {"summary": "Cr\u00e9er une nouvelle ressource. \n", "description": "Ajouter une ressource \u00e0 un jeu de donn\u00e9es (paquet). POST utilisant `multipart/form-data` pour t\u00e9l\u00e9charger un fichier. \n", "requestBody": {"content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json#/properties/resources/items"}}, "multipart/form-data": {"schema": {"$ref": "schemas/resource-multipart-fr.json"}}}}, "tags": ["action"], "responses": {"200": {"description": "Une copie des m\u00e9tadonn\u00e9es de la ressource cr\u00e9\u00e9es \n"}}}}, "/action/resource_update": {"post": {"summary": "Mettre \u00e0 jour une ressource existante. \n", "description": "POST en utilisant `multipart/form-data` pour t\u00e9l\u00e9charger un fichier. \n", "requestBody": {"content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json#/properties/resources/items"}}, "multipart/form-data": {"schema": {"$ref": "schemas/resource-multipart-fr.json"}}}}, "tags": ["action"], "responses": {"200": {"description": "Une copie des m\u00e9tadonn\u00e9es de la ressource mises \u00e0 jour. \n"}}}}, "/action/resource_patch": {"post": {"summary": "Mettre \u00e0 jour uniquement des champs pr\u00e9cis d\u2019une ressource existante. \n", "description": "Tous les champs non transmis conserveront leur valeur initiale. \n\nPOST en utilisant `multipart/form-data` pour t\u00e9l\u00e9charger un fichier. \n", "requestBody": {"content": {"application/json": {"schema": {"$ref": "schemas/dataset-fr.json#/properties/resources/items"}}, "multipart/form-data": {"schema": {"$ref": "schemas/resource-multipart-fr.json"}}}}, "tags": ["action"], "responses": {"200": {"description": "Une copie des m\u00e9tadonn\u00e9es de la ressource mises \u00e0 jour. \n"}}}}, "/action/resource_delete": {"post": {"summary": "Supprimer une ressource. \n", "description": "Supprimer une ressource d\u2019un jeu de donn\u00e9es (paquetage) et de son fichier t\u00e9l\u00e9charg\u00e9 (le cas \u00e9ch\u00e9ant). \n", "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "description": "L\u2019identifiant de la ressource. \n"}}}}}}, "tags": ["action"], "responses": {"200": {"description": "'null'\n"}}}}}, "components": {"schemas": {}, "securitySchemes": {"internal_api_key": {"type": "apiKey", "in": "header", "name": "Authorization"}}}}